

.card {
    width: 22%;
    margin: 1%;
    background-color: #fffbe9;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    cursor: pointer;
    padding-bottom: 0px;
    border-radius: 10px;
    overflow: hidden;
}

.cardImage{
    width: 100%;
    height: 220px;
    border-bottom: 1px solid rgb(224, 224, 224);
    overflow: hidden;
    position: relative;
}


.cardImage img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center top;
}


.cardContent {
    height: 110px;
    padding: 3%;
    overflow: hidden;
    position: relative;
}

.cardContent p:first-of-type {
    font-weight: bold;
    font-size: 90%;
}



.cardType {
    background-color: #e2e2e2;
    border-radius: 10px 0px 4px 0px;
    width: 20%;
    color: #1b1c1e;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #343434;
}

@media (max-width: 1000px) {
    .card {
        width: 30%;
        margin: 2% 1%;
    }
}

@media (max-width: 750px) {
    .card{
        width: 40%;
        margin: 2%;
    }
}

@media (max-width: 550px) {
    .card {
        width: 90%;
        margin: 2%;
    }
}